/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.env.psychosexo
.env.private
/crt
/resources/images/templates/serge.com
/resources/scss/templates/serge.com
/resources/js/templates/serge.com
/resources/images/templates/manager.eva.com
/resources/scss/templates/manager.eva.com
/resources/js/templates/manager.eva.com

/resources/templates/serge.com
/resources/templates/manager.eva.com
