@import '../variables';


.search-filter {
	position: relative;

	.btn-search-filter {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0.75rem;
		height: 100%;
		width: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.search-filter-active {
			display: none;
			font-size: 1.2em;
		}

		.search-filter-inactive {
			pointer-events: none;
			user-select: none;
			opacity: 0.25;
		}

		&.filter-active {
			cursor: pointer;
			opacity: 0.75;
			transition: opacity 0.25s;

			&:hover {
				opacity: 1;
			}

			.search-filter-active {
				display: block;
			}

			.search-filter-inactive {
				display: none;
			}
		}
	}
}

#invoices-container {

	.items-table-item {
		&.national-healthcare-item {
			td {
				color: $national-healthcare-color;
			}

			.invoice-item-reference span {
				margin-left: 0.25rem;
				font-size: 0.7em;
			}

			.invoice-item-reference div {
				position: relative;

				&::after {
					position: absolute;
					bottom: 1px;
					content: attr(data-after);
					margin-left: 0.2rem;
					font-size: 0.7em;
				}
			}
		}

		&.inactive-invoice {
			td {
				color: $inactive-invoice-color;
				text-decoration: line-through;
				opacity: 0.75;
			}
		}

		.invoice-item-print {
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
				color: var(--bs-primary);

				&:hover {
					color: #fff;
					background-color: var(--bs-primary);
				}
			}
		}
	}
}

#patients-container {

	.accordion-body {
		height: calc(100vh - 300px);
	}

	.loading-overlay {
		visibility: hidden;
	}

	&.loading {

		#items-table-filter,
		.table-responsive {
			opacity: 0;
		}

		.loading-overlay {
			visibility: visible;
		}
	}
}