@font-face {
	font-family: 'Nunito';
	src: url("../../../fonts/Nunito-Regular.woff2") format('woff2'),
		url("../../../fonts/Nunito-Regular.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url("../../../fonts/Nunito-Italic.woff2") format('woff2'),
		url("../../../fonts/Nunito-Italic.woff") format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url("../../../fonts/Nunito-Bold.woff2") format('woff2'),
		url("../../../fonts/Nunito-Bold.woff") format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url("../../../fonts/Nunito-BoldItalic.woff2") format('woff2'),
		url("../../../fonts/Nunito-BoldItalic.woff") format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
