// Variables
@import '../../variables';

$blue: $color-purple;

$body-color: #000;
$body-bg: $color-gold;

$input-bg: #fff;

$card-border-color: $color-purple;
$card-cap-bg: $color-purple;
$card-cap-color: #fff;

// Bootstrap
@import 'bootstrap/scss/bootstrap';


html,
body {
	height: 100%;
}

body {
	background-image: url('../../../images/templates/invoice.psychosexo.clinic/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
}


// change autofill input's background back to #fff
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	// -webkit-animation: autofill 0s forwards;
	// animation: autofill 0s forwards;
	-webkit-box-shadow: 0 0 0 60px white inset !important;
}

// @keyframes autofill {
// 	100% {
// 		background: #fff;
// 		color: inherit;
// 	}
// }


.card {
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 .5rem 1rem rgba(#000, 0.25);

	.card-body {
		padding-top: 1.5rem;
	}
}

.btn {
	transition: background-color 0.25s;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.menu-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	> .container {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.btn-locale {
		background-color: transparent;
		transition: background-color 0.25s;

		&.active-locale {
			pointer-events: none;
			background-color: $color-purple;
		}

		&:hover {
			background-color: $color-purple;
		}
	}
}


@media only screen and (min-width:576px) {}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:992px) {}

@media only screen and (min-width:1200px) {}



@media only screen and (min-height:500px) {
	#app {
		display: block;

		.container {
			padding-top: 25vh !important;
		}
	}
}