// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$body-bg: #f8fafc;
// $body-bg: #f8f8f8;
$body-color: #444;
$text-muted: #999;

$modal-header-padding-y: 0.75rem;
// $form-select-padding-x: 0.5rem;

$table-striped-bg-factor: 0.025;
$table-hover-bg-factor: 0.05;

$national-healthcare-color: #07a;
// $national-healthcare-color: $color-purple;




// $accordion-padding-y: 0.5rem;
// $accordion-padding-x: 0.75rem;
$accordion-button-active-color: $body-color;
$accordion-button-active-bg: transparent;
// $accordion-button-active-bg: #eee;
// $accordion-button-bg: #eee;

